{% extends "list_view.html" %}

{% block list_scripts %}
<script type="text/javascript" src="{{ date_url_for('static', filename='js/img.js') }}"></script>
{% endblock %}

{% block before_table %}
<style>
    #file-upload {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    #file-chooser {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        position: relative;
        width: 300px;
        margin-right: 10px;
    }

    #file-chooser>input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
    }

    #file-chooser>span {
        width: 100%;
        pointer-events: none;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
    }

    #img-table {
        margin-top: 15px;
    }
</style>
<div id="file-upload">
    <div id="file-chooser" class="align-middle">
        <input type="file" id="file_input">
        <span id="filename" class="border rounded d-inline-block text-truncate">请选择文件...</span>
    </div>
    <button id="upload_btn" class="btn btn-primary" type="button">上传图片</button>
</div>
{% endblock %}
