{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ date_url_for('static', filename='js/img.js') }}"></script>
{% endblock %}

{% block content %}
<style>
    #main {
        padding: 15px;
    }
</style>

<div class="container" id="main">
    <form id="upload_file_form" class="form-inline">
        <input id="file_input" type="file" name="file">
        <button id="upload_btn">提交</button>
    </form>
    <div id="img_list">
        <ul>
            <li>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
