{% extends "list_view.html" %}

{% block list_scripts %}
<script type="text/javascript" src="{{ date_url_for('static', filename='js/type.js') }}"></script>
{% endblock %}

{% block before_table %}
<button id="new-type-btn" class="btn btn-primary" disabled>新增类型</button>
{% endblock %}

{% block after_table %}
<div class="modal fade" id="add-type-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增类型</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">类型名</div>
                        </div>
                        <input type="text" class="form-control" id="type-name-input">
                    </div>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">顺序号</div>
                        </div>
                        <input type="text" class="form-control" id="type-order-input">
                    </div>
                    <p class="text-left text-secondary" style="font-size: small;">排序规则：顺序号小的在前，同顺序号，早添加的在前</p>
                    <select id="type-img-select" class="selectpicker" data-container="body" data-width="100%"
                        title="选择图片">
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button class="btn btn-primary" id="save-btn">保存</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
